<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login | EBAH</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/admin/css/login.css">
    <!-- --ICON CSS--  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <h2 class="uppercase">EBAH</h2>
        </div>
        <h3>Hi, Welcome Back</h3>
        <p class="first">Enter your credentials to continue</p>
        <div class="form">
            <form action="#">
                <div class="field field1">
                    <label for="">Email Address</label>
                    <input type="text" name="" id="">
                </div>
                <div class="field field1">
                    <label for="">Password</label>
                    <input type="text" name="" id="">
                    <i class="uil uil-eye"></i>
                </div>
                <div class="flex">
                    <div class="field">
                        <input type="checkbox" name="" id="">
                        <span>Keep me logged in</span>
                    </div>
                    <div class="field">
                        <span class="right">Forgot Password?</span>
                    </div>
                </div>
                <div class="field field-btn">
                    <button type="submit">Log In</button>
                </div>
            </form>
        </div>
        <hr>
        <a class="last">Don't have an account?</a>
    </div>
</body>
</html>